    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        margin: 10px auto;
  min-width: 250px;
  max-width: 50%;
  background-color: #111;

    }
    h1{
        font-size: 3rem;
        font-weight: 100;
        margin: 1rem 0 3rem;
        text-align: center;
        color: #fff;
        font-family: 'Flamenco', cursive;
    }
.va{
    font-weight: 800;
    color: aqua;
}
.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input-div .input{
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    border: none;
    background-color: #fff;
    width: 450px;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
    
}
.addbutton{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline:none;
    border: none;
    background-color: lime;
    color: #fff;
    margin: 0.25rem;
    cursor: pointer;
}
.addbutton:hover{
    opacity: 0.7;
}
ul {
  margin: 0;
  padding: 0;
  
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  margin: 0.25rem;
  border-radius: 25px;
  font-family: 'Flamenco', cursive;
    
  

/* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Set zebra-stripes: all odd list items to a different color */
ul li:nth-child(odd) {
background: #f9f9f9;
}
ul li:hover {
  background: #ddd;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  color:#fff;
}
.close:hover {
  background-color: crimson;
  color: white;
}

